h1 Olá #{@invitation.name}!
p Seu amigo #{@invitation.user}, está convidado você para participar do site Liker.
p= link_to "Participar Grátis!", invitation_url(@invitation), title: "Participar Grátis"
p Obrigado!